body {
  background-color: #ECECED;
  width: 100%;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
}

.todoapp {
  width: 280px;
  background-color: #FFFFFF;
  height: 550px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 25px;
  -webkit-box-shadow: 1px 5px 15px -6px rgba(0,0,0,0.61);
  box-shadow: 1px 5px 15px -6px rgba(0,0,0,0.61);
  overflow: hidden;
}

.header {
  height: 33%;
  padding: 25px;
  position: relative;
}

.fa-sun {
  color: #FD8C8C;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: -65px;
  margin-right: -65px;
  font-size: 150px;
  opacity: 0.4;
}

.logo {
  font-size: 20px;
  font-weight: 900;
  color: #7987FB;
  margin-bottom: 15px;
}

.intro {
  margin-bottom: 10px;
  font-size: 12px;
}

.introHello {
  color: #FD8C8C;
  font-weight: 800;

}

.todoCount {
  margin-top: 15px;
  font-weight: 900;
}

.main {
  background-color: #7987FB;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 45%;
  padding: 25px;
  -webkit-box-shadow: 1px 5px 15px -6px rgba(0,0,0,0.61);
  box-shadow: 1px 5px 15px -6px rgba(0,0,0,0.61);
}

.tasksIntro {
  color: #FFFFFF;
  font-weight: 900;
  margin-bottom: 15px;
}

.task {
  line-height: 20px;
  width: 75%
}

.selectAll {
  display: flex;
  line-height: 20px;
  vertical-align: middle;
}

.selectAllLabel {
  color: #FFFFFF;
  font-weight: 900;
}

.checkbox {
  vertical-align: bottom;
}
.selectAllLabel {
  color: #FFFFFF;
  font-weight: 600;
}

.divider {
  color: #FFFFFF;
  margin: 4px 0 12px 0;
  background-color: #FFFFFF;
  border: solid 1px #FFFFFF;
}

.newTodo {
  background-color: #FFFFFF;
  border-radius: 5px;
  border: solid 2px #7987FB;
  padding: 5px;
  font-family: 'Poppins', sans-serif;
  margin-top: 20px;
  width: 100%;
  -webkit-box-shadow: 1px 5px 15px -6px rgba(0,0,0,0.61);
  box-shadow: 1px 5px 15px -6px rgba(0,0,0,0.30);
}

.newTodo:focus {
  border: solid 2px #FD8C8C;
}

.view {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.todo {
  background-color: #FFFFFF;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.destroy {
  color: #FD8C8C;
}

.drag {
color: #7987FB;
margin-left: 7px;
}

.footer {
  background-color: #7987FB;
  height: 28%;
  overflow: hidden;
  padding: 25px;
  margin-top: -1px;
}
.completed {
  background-color: #EFEFEF;
}

.striped {
  text-decoration: line-through;
}

.selected {
  outline: solid 2px #FD8C8C;
}

.footerLabel {
  color: #FFFFFF;
  font-weight: 900;
}

.filter {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.filterItem {
  background-color: #FFFFFF;
  font-size: 13px;
  padding: 2px 4px;
}

.deleteDoneTasks {
  margin-top: 15px;
  background-color: #FD8C8C;
  border: none;
  color: #FFFFFF;
  font-weight: 900;
  padding: 2px 4px;
  font-size: 13px;
  width: 100%;
}

.deleteDoneTasks {
  border: solid 2px #FD8C8C;
}




