.todoapp {
  width: 500px;
  margin: 0 auto;
  background-color: #FFFFFF;
}
.completed {
  background-color: grey;
}

.selected {
  background-color: hotpink;
}

.drag {
  height: 20px;
  width: 20px;
  background-color: indianred;
}

